<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.energy.welfare.mapper.user.UserMapper">

    <select id="findAll" resultType="com.energy.welfare.dto.users.User">
        select ID, Email, Password, UserRole from users
    </select>

    <select id="getUser" parameterType="String" resultType="com.energy.welfare.dto.users.User">
        select ID, Email, Password, UserRole
        from users
        where Email = #{email}
    </select>


</mapper>