<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.energy.welfare.mapper.BannerMapper">

    <select id="getBannerList" resultType="com.energy.welfare.dto.Banner">
        select id, type, title, ImageFile, ImageUrl, LinkUrl, SignYn, UseYn, DATE_FORMAT(CreatedAt, '%Y.%m.%d') CreatedAt, DATE_FORMAT(UpdatedAt, '%Y.%m.%d') UpdatedAt
        from banner
        where UseYn = 'Y'
        order by id desc
    </select>

    <select id="getBannerListTop5" resultType="com.energy.welfare.dto.Banner">
        select id, type, title, ImageFile, ImageUrl, LinkUrl, SignYn, UseYn, DATE_FORMAT(CreatedAt, '%Y.%m.%d') CreatedAt, DATE_FORMAT(UpdatedAt, '%Y.%m.%d') UpdatedAt
        from banner
        where UseYn = 'Y'
        order by id desc
        limit 5
    </select>

    <select id="getBanner" parameterType="String" resultType="com.energy.welfare.dto.Banner">
        select id, type, title, ImageFile, ImageUrl, LinkUrl, SignYn, UseYn, DATE_FORMAT(CreatedAt, '%Y.%m.%d') CreatedAt, DATE_FORMAT(UpdatedAt, '%Y.%m.%d') UpdatedAt
        from banner
        where id = #{id}
    </select>

    <insert id="insertBanner" parameterType="com.energy.welfare.dto.Banner">
        insert into banner (Type, Title, ImageFile, ImageUrl, LinkUrl, SignYn) values(#{type}, #{title}, #{imageFile}, #{imageUrl}, #{linkUrl}, #{signYn});
    </insert>
    
    <update id="updateBanner" parameterType="com.energy.welfare.dto.Banner">
        update banner
        set
              type = #{type}
            , title = #{title}
            , ImageFile = #{imageFile}
            , ImageUrl = #{imageUrl}
            , LinkUrl = #{linkUrl}
            , SignYn = #{signYn}
            , UpdatedAt = CURRENT_TIMESTAMP()
        where id = #{id}
    </update>

    <update id="deleteBanner" parameterType="String">
        update banner
        set
              UseYn = 'N'
        where id = #{id}
    </update>

</mapper>