<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.energy.welfare.mapper.FaqMapper">

    <select id="getFaqList" resultType="com.energy.welfare.dto.Faq">
        select id, qTitle, aTitle, description, UseYn, DATE_FORMAT(CreatedAt, '%Y.%m.%d') CreatedAt, DATE_FORMAT(UpdatedAt, '%Y.%m.%d') UpdatedAt
        from faq
        where UseYn = 'Y'
    </select>

    <select id="getFaq" parameterType="String" resultType="com.energy.welfare.dto.Faq">
        select id, qTitle, aTitle, description, UseYn, DATE_FORMAT(CreatedAt, '%Y.%m.%d') CreatedAt, DATE_FORMAT(UpdatedAt, '%Y.%m.%d') UpdatedAt
        from faq
        where id = #{id}
    </select>

    <insert id="insertFaq" parameterType="com.energy.welfare.dto.Faq">
        insert into faq (qTitle, aTitle, description) values(#{qTitle}, #{aTitle}, #{description});
    </insert>
    
    <update id="updateFaq" parameterType="com.energy.welfare.dto.Faq">
        update faq
        set
              qTitle = #{qTitle}
            , aTitle = #{aTitle}
            , description = #{description}
            , UpdatedAt = CURRENT_TIMESTAMP()
        where id = #{id}
    </update>

    <update id="deleteFaq" parameterType="String">
        update faq
        set
              UseYn = 'N'
        where id = #{id}
    </update>

</mapper>